.shop_container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-left: 30px;
    padding-top: 30px;
}